
{% extends "pages/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
   <section class="hero" id="hero">
     {% include "pages/partials/header.html" %}
     <div class="container">
            <div style="margin-top:20vh;" class="header-table">
                <div class="header-wrapper">
                  <div class="header-subtitle">
                  <a href="{% url 'pages:katalog' %}" class="subtitle-wrapper">
                      <p>Kembali<img class="arrow" src="{% static 'assets/arrow.svg' %}"></p>
                  </a>
              </div>
                    <h1 class="header-title">{{room.apartment.name}} {{room.no}}</h1>
            </div>
          </div>
        </div> <!-- /.container -->
   </section>
   <section id="listing" class="listing">
        <div class="row" style="padding-left: 5%;">
           <div class="col-12" style="padding-top: 2.5%; padding-left: 5%;">
           </div>
                  </div>
           {% if room %}
           <div style="padding-left: 5%; padding-right: 5%; padding-bottom: 1%;" class="slider">
                {% for i in room.images.all %}
          <img src="{{i.image.url}}" width:100>
                {% endfor %}
            </div>
                {% endif %}
   </section>
  <section id="detail" class="divWrap">
    <h2>Detail Kamar</h2>
    <div class="row">
    <div class="col-md-8">

    </div>
    <div class="priceBox col-md-4">
      <h4> Price Starts From </h4>
      <h2 class="price">Rp. 3.000.000</h2>
    </div>
  </div>
  </section>

<style type="text/css">
.divWrap {
  padding: 5% 5% 5%;
}

.wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.wrapper td {
   vertical-align: middle;
   text-align: center;
}

html,body
{
    overflow-x: hidden;
}

section {
    padding-right: 0;
    margin-right: 0;
    width:100vw;
}

    .hero
{
    background: url({% static 'assets/roomHero.png' %});
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw 50vh;
    -o-background-size: 100vw 50vh;
    -moz-background-size: 100vw 50vh;
    -webkit-background-size: 100vw 50vh;
    height: 50vh;
    color: #FFF;


}
    .about
{
    background-color: #FFF;
    padding-bottom: 5%;

}
    .why
{
    background-color: #F3F3F3;
}
.price {
  color: #5AACDF;
  font-family: Open Sans;
  font-weight: bold;
}
.header-wrapper {
margin-left: 5%;
top: 15vh;
margin-right: 5%;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 4.5vw;
color: #FAFAFA;
}
.priceBox {
  background: rgba(196, 196, 196, 0.15);
}
.header-subtitle {
width: 257px;
height: 40px;
background: #F1F1F1;
opacity: 0.8;
border-radius: 60px;
}
.subtitle-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 8%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #121212;
}
.arrow {
    width: 7%;
}

.logo-left {
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 4vw;

color: #121212;
}
.whatp {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: justify;
}
.whatwrapper {
    padding-top: 5%;
    padding-right: 5%;
}
.pWhy {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
color: #121212;
}

.pTesti {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: justify;
font-size: 12pt;
color: #121212;
}

.sButton {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
color: #999999;
}

.sButton:hover {
    font-family: Roboto;
font-style: bold;
font-weight: bold;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
}

.readmore{
width: 183px;
height: 28px;
background: #000;
border-radius: 60px;
margin-bottom: 5%;
}
.readmore-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 10%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
color: #FFF;
}
.hWhy {
    text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 3vw;
    color: #121212;
}
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-height: 60vh;
    border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.crop {
    height: 50%;
    overflow: hidden;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
}
.selengkapnyaWrapper {
    border-top: 2px solid #CCCCCC;
}
.selengkapnyaWrapper:hover {
    background: #F3F3F3;
    border-top: 2px solid #F3F3F3;
}
.slick-slide {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.roleText{
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 1.5vw;
color: #3C7BBE;
}
.footerLinks {
font-family: Roboto;
font-style: normal;
font-weight: 100;
color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
  #map {
          height: 40vh;  /* The height is 400 pixels */
         }
.roleText {
  text-align: center;
}
.pTesti {
  text-align: center;
}
.whatwrapper {
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}
.whath1{
    font-family: Open Sans;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 8vw;

    color: #121212;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 10vw;
color: #FAFAFA;
}
.logo-left {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-right: 15%;
}
.hWhy {
  text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 8vw;
    color: #121212;
}
.helper {
    display: inline-block;
    height: 100%;
}
</style>
<script>

$(document).ready(function(){
 $('.slider').slick({
speed: 300,
slidesToShow: 3,
slidesToScroll: 4,
autoplay: true,
autoplaySpeed: 3000,
responsive: [
{
 breakpoint: 1024,
 settings: {
   slidesToShow: 3,
   slidesToScroll: 3,
 }
},
{
 breakpoint: 600,
 settings: {
   slidesToShow: 3,
   slidesToScroll: 3
 }
},
{
 breakpoint: 480,
 settings: {
   slidesToShow: 1,
   slidesToScroll: 1
 }
}

]
 });
});

$(".rotate").textrotator({
animation: "dissolve", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
speed:4000 // How many milliseconds until the next word show.
});
// Initialize and add the map
function initMap() {
// The location of Uluru

var parse = {{apt.location}}
var uluru = parse;
// The map, centered at Uluru
var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 14, center: uluru});
// The marker, positioned at Uluru
var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjUOuIW-eL9C2vu_srbQuY9KVepLoEUIs&callback=initMap">
</script>
{% endblock %}
