{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Mahasewa">
   <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
   <meta name="author" content=" ">
   <!-- bootstrap csss -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700,600">
 <link href="https://fonts.googleapis.com/css?family=Roboto:Normal,300" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/simpletextrotator.css' %}">
    <!-- Jquery n Bootstrap Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="{% static 'js/slick.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.js' %}"></script>

   <title>
       {% block title %} Mahasewa {% endblock %}
   </title>
</head>
<body>
   <content>
           {% block content %}
               <!-- content goes here -->
           {% endblock %}
   </content>
   <footer>
       <!-- TODO Block Footer dan include footer.html -->
       {% block footer %}
       {% include "pages/partials/footer.html" %}
       {% endblock %}
   </footer>
   {% block javascript %}
   {% endblock %}
<style type="text/css">
a {
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
</style>
</body>
</html>
